
@font-face {
  font-family: "PoppinsThin";
  src: local("PoppinsThin"),
   url("./assets/fonts/poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
 }

 @font-face {
  font-family: "PoppinsRegular";
  src: local("PoppinsRegular"),
   url("./assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
 }
 
@font-face {
  font-family: "PoppinsBold";
  src: local("PoppinsBold"),
   url("./assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
 }

 @font-face {
  font-family: "Code";
  src: local("Code"),
   url("./assets/fonts/CutiveMono/CutiveMono-Regular.ttf") format("truetype");
  font-weight: bold;
 }


html {
  font-size: 12px;
}
@media screen and (min-width: 25em){
  html { font-size: 2vw; }
}

body {
  margin: 0;
  font-family: PoppinsRegular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: Code;
}

p {
  font-family: 'PoppinsBold';
}